<ng-container>
    <div class="container">
        <div class="py-5">
            <div class="col-12 col-md-8 col-lg-6 mx-auto">
                <img [src]="blogPostDetail$?.featuredImageUrl" class="img-fluid" alt="{{blogPostDetail$?.title}}">

                <h1 class="mt-4">{{blogPostDetail$?.title}}</h1>

                <div class="d-flex justify-content-between mt-4">
                    <span>{{blogPostDetail$?.author}}</span>
                    <span>{{blogPostDetail$?.publishedDate | date:'dd-MM-yyyy'}}</span>

                </div>

                <div *ngIf="blogPostDetail$?.categories" class="mt-4">
                    <span *ngFor="let category of blogPostDetail$?.categories" class="badge bg-secondary me-2">
                        {{category.name}}
                    </span>
                </div>

                 <div class="mt-4 blog-content">                  
                        <markdown [data]="blogPostDetail$?.content"></markdown>                   
                </div>

            </div>
        </div>
    </div>


</ng-container>